@use '../index.scss' as sassify with (
	$sassify__strict-mode: false
);

@include sassify.amcss(module) {
	color: red;
}

@include sassify.amcss(module, 'blue') {
	color: blue;
}

@include sassify.amcss(module, large) {
	font-size: 2em;
}
