@use 'sass:meta';
@use 'sass:map';
@use '../type/is-map' as *;
@use '../../helpers/invalid-type-log' as *;

/// Функция `map-deep-set()` позволяет переназначить значения
/// в какой-либо карте (map)
/// ---
/// @name map-deep-set
/// @group utilities
/// @since 9.0.0
/// @access public
/// @author Kitty Giraudel
/// @example scss Пример использования в Sass (SCSS)
/// 	@use 'node_modules/@therteenten/sassify' as sassify;
///
/// 	$map: (
/// 		a: 'Item A',
/// 		b: 'Item B',
/// 		c: 'Item C',
/// 		d: (
/// 			d-a: 'Item D-A',
/// 			d-b: 'Item D-B'
/// 		)
/// 	);
///
/// 	@debug sassify.map-deep-set($map, a, 'New Item A'); //=> (a: "New Item A", b: "Item B", c: "Item C", d: (d-a: "Item D-A", d-b: "Item D-B"))
/// 	@debug sassify.map-deep-set($map, d d-a, 'New Item D-A'); //=> (a: "Item A", b: "Item B", c: "Item C", d: (d-a: "New Item D-A", d-b: "Item D-B"))
/// 	@debug sassify.map-deep-set($map, d, 'Item D'); //=> (a: "Item A", b: "Item B", c: "Item C", d: "Item D")
/// @param {map} $map - карта, в которой надо переназначить
/// 	какое-либо значение
/// @param {string | number} $keys - ключ в карте `$map`,
///  значение которого надо изменить
/// @param {string | number} $value - новое значение ключа
/// 	`$keys` в карте `$map`
/// @return {map} карта с новыми значениями ключей
@function map-deep-set($map, $keys, $value) {

	// ? Если `$map` является картой:
	@if is-map($map) == true {

		$-maps: ($map,);
		$-result: null;

		// ? Если ключ `$keys` уже является вложенной
		// ? картой, то оповещаю разработчика о том,
		// ? что ключ будет переопределён:
		@if meta.type-of(nth($keys, -1)) == map {
			@warn '🟧 <#{configs.$sassify}> Последний указанный вами ключ — это карта [map]. Он будет переопределен с помощью "#{$value}"!';
		}

		// ? Если `$keys` - это один ключ, то просто
		// ? объединяю и возращаю его:
		@if length($keys) == 1 {
			@return map-merge($map, ($keys: $value));
		}

		// Циклом `@for` от первого до предпоследнего ключа
		// из `$-maps` прохожу:
		// > Сохраните связанную карту с этим ключом в списке `$-maps`
		@for $-i from 1 through length($keys) - 1 {

			$-current-key: nth($keys, $-i);
			$-current-map: nth($-maps, -1);
			$-current-get: map-get($-current-map, $-current-key);

			// Если ключ не существует, выдаю сообщение об ошибке:
			@if $-current-get == null {
				@error '#{alert.$alert--emoji__error} #{alert.$alert--prefix} Ключ `#{$keys}` не существует на текущем уровне карты!';
			}

			$-maps: append($-maps, $-current-get);

		}

		// Цикл от последней карты к первой.
		// Объединяем его с предыдущим:
		@for $-i from length($-maps) through 1 {

			$-current-map: nth($-maps, $-i);
			$-current-key: nth($keys, $-i);
			$-current-val: if(
				$-i == length($-maps),
				$value,
				$-result
			);

			$-result: map-merge($-current-map, ($-current-key: $-current-val));

		}

		// Возвращаю результат:
		@return $-result;

	}

	// ? Если `$map` не является картой:
	@else {
		@return invalid-type-log('map-deep-set', $map, 'map');
	}

}
